html {
  /* background-image: linear-gradient(#111111, #224433, #00ffee); */
  background: #121212;
  /* background: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(17, 213, 178, 1) 100%); */
  height: 100vh;
}

@font-face {
  font-family: "nunito";
  src: local("nunito"), url(./assets/fonts/nunito.ttf) format("truetype");
}

.navbar {
  /* margin: 20px; */
  display: flex;
  align-items: flex-start;
}

.logo {
  margin: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.logo:hover {
  margin: 17.5px;
  width: 55px;
  height: 55px;
  filter: contrast(70%) brightness(120%);
}

h1 {
  /* color: transparent; */
  /* background: linear-gradient(#00ffee, #111111); */
  color: #0fc;
  background-clip: text;
  font-size: 5rem;
}

div {
  font-family: "nunito";
  align-self: center;
  align-items: center;
  text-align: center;
  color: white;
}

.subtitle {
  opacity: 0.5;
  color: white;
}

.react-logo {
  width: 2em;
  margin: -0.3em;
  animation: react-logo-spin infinite 10s linear;
}
@keyframes react-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.checklist {
  margin: 3.5em auto;
  padding: 1em;
  width: 16em;
  text-align: left;
  border: 1px solid aquamarine;
  border-radius: 5px;
  background-color: #2228;
  transition: all 1s linear;
}

.checklist:hover {
  /* width: 20em; */
  margin: 0 auto;
  padding: 1em 3em;
}

.checklist > * {
  transition: all 1s linear;
}

.checklist:hover > * {
  margin-top: 1em;
  margin-bottom: 1em;
}

.catalog {
  display: flex;
  justify-content: space-between;
  margin: 50px 10%;
}
