html {
  background: var(--background-color);
  height: 100vh;
}

@font-face {
  font-family: "nunito";
  src: local("nunito"), url(./assets/fonts/nunito.ttf) format("truetype");
}

:root {
  --prismarine: #0fd;
  --dark-prismarine: #0a9;
  --background-color: #171717;
  --transparent-background: #3338;
  --transparent-border: #5554;
  --hover-border: #8888;
  --click-border: #aaaa;
  --border-color: var(--dark-prismarine);
  --border-radius: 10px;
}

.navbar {
  display: flex;
  align-items: flex-start;
}

.logo {
  margin: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.logo:hover {
  margin: 17.5px;
  width: 55px;
  height: 55px;
  filter: contrast(70%) brightness(120%);
}

.main-div {
  padding: 0 10rem;
}

h1 {
  color: var(--background-color);
  text-shadow: 0 0 5px var(--prismarine);
  background-clip: text;
  font-size: 5rem;
}
h1::first-letter {
  color: var(--prismarine);
}

div {
  font-family: "nunito";
  align-self: center;
  align-items: center;
  text-align: center;
  color: white;
}

.subtitle {
  opacity: 0.5;
  color: white;
}

.react-logo {
  width: 2em;
  margin: -0.3em;
  animation: react-logo-spin infinite 10s linear;
}
@keyframes react-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.panel {
  width: fit-content;
  margin: auto;
  padding: 1em;
  border-radius: var(--border-radius);
  border: var(--border-color) solid 2px;
  background-color: var(--transparent-background);
}
.panel > p {
  height: fit-content;
  margin: 0;
}

.checklist {
  margin: 0 auto;
  padding: 1em;
  width: 16em;
  text-align: left;
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 1em;
  background-color: var(--transparent-background);
  transition: all 1.5s;
}
.checklist:hover {
  padding: 1em 3em;
}

.checklist > * {
  transition: all 1s linear;
}
.checklist:hover > * {
  margin-top: 1em;
  margin-bottom: 1em;
}

.projects {
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  row-gap: 2rem;
  width: 100%;
  justify-content: space-between;
}

.project {
  display: flex;
  flex: 0 0 15em;
  overflow: hidden;
  flex-direction: column;
  height: 15rem;
  border-radius: var(--border-radius);
  border: var(--transparent-border) solid 2px;
  background-color: var(--transparent-background);
  transition: 200ms all;
}

.project:hover {
  border-color: var(--dark-prismarine);
  cursor: pointer;
}

.project:active {
  border-color: var(--click-border);
}

.card-title {
  padding: 1em;
}

.card-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.card-description {
  background: linear-gradient(
    to bottom,
    white 0px,
    white calc(0% + 1em),
    transparent calc(0% + 4em),
    transparent 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
