html {
  background-color: rgb(39, 39, 39);
}

@font-face {
  font-family: "nunito";
  src: local("nunito"), url(./fonts/nunito.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

div {
  font-family: "nunito";
  align-self: center;
  align-items: center;
  text-align: center;
  color: aquamarine;
}

.subtitle {
  opacity: 0.5;
  color: white;
}

.react-logo {
  width: 2em;
  margin: -0.3em;
  animation: react-logo-spin infinite 10s linear;
}

@keyframes react-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.checklist {
  margin: auto;
  width: 15em;
  text-align: left;
}
